
.product-image-box{max-width:385px;margin:auto;background-color:#ced4da}.product-sort-info li{padding-bottom:10px;list-style:none}.product-gallery-item img{background-color:#ced4da}.product-gallery-item.active img{border:1px solid var(--highlight)}.product-color-block{-webkit-box-shadow:inset 0 0 1px #d8dae0;box-shadow:inset 0 0 1px #d8dae0;position:absolute;overflow:hidden;border-radius:15px;margin:auto;top:3px;right:3px;bottom:3px;left:3px}.product-color-list{padding:.5rem 0;text-align:left}.product-color-list-item{position:relative;background:#fff;border:1px solid #d8dae0;padding:3px;border-radius:36px;cursor:pointer;float:left;margin:0 .67rem .67rem 0;height:36px;width:36px;-webkit-transition:all .4s ease-out;transition:all .4s ease-out;list-style:none}.product-color-list-item.active,.product-color-list-item:hover{-webkit-box-shadow:0 0 .5px 1px rgba(57,172,230,.05);box-shadow:0 0 .5px 1px rgba(57,172,230,.05);background-color:#f2feff;border-color:#dc3545;opacity:1;-webkit-transition:all .1s;transition:all .1s}.product-size-switch{padding:.5rem 0}.product-size-list-item{position:relative;background:#fff;border:1px solid #d8dae0;padding:3px;border-radius:.25rem;cursor:pointer;float:left;margin:0 .67rem .67rem 0;height:30px;width:30px;-webkit-transition:all .4s ease-out;transition:all .4s ease-out;list-style:none}.product-size-list-item.active .product-size-block,.product-size-list-item:hover .product-size-block{background:var(--highlight);color:#fff}.product-size-block{width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-transform:uppercase;border-radius:.15rem}.product-thumbnail-wrapper{position:relative;width:70px}.product-thumbnail-quantity{font-size:.85em;font-weight:500;line-height:1.75em;white-space:nowrap;text-align:center;border-radius:1.75em;background-color:hsla(0,0%,44.7%,.9);color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;min-width:21px;height:21px;padding:0 .58em;position:absolute;right:13px;top:-8px;z-index:50}.payment-icon{border-radius:.22em;background-size:cover;background-repeat:no-repeat;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;width:38px;height:24px;display:inline-block}.payment-icon-visa{background-image:url(../images/visa.svg)}.payment-icon-master{background-image:url(../images/master.svg)}.payment-icon-american-express{background-image:url(../images/american_express.svg)}.payment-icon-discover{background-image:url(../images/discover.svg)}.payment-gateway-content{display:-webkit-box;display:-ms-flexbox;display:flex}.payment-gateway-content.payment-gateway-content-credit-card{display:block}.payment-gateway-outsite{background-size:cover;background-repeat:no-repeat;background-image:url(../images/outsite.svg);width:240px;height:120px;display:block}
 .w-5{
     display: none
 }
.pagination nav .flex  {
    display: none;
}
.pagination p {
    display: none;
}
.pagination a  {
    display: inline-block;
    padding: 5px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    background: #A197F8;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    color: #0b0b0b;
}

.pagination span  {
    padding: 5px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    color: #0b0b0b;
}

.modal-dialog {
    max-width: 70%;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:0px;
    top:0;
    z-index:999;
    opacity:1;
}
a{
    cursor: pointer;
}
